.idea

*.a
*.core
*.exe
*.o
*.tgz
*.tmp
a.out
aout.exe
core
debug
_oldsums
_newsums

s86/s86
s86/sar
s86/sld
s86/snm
s86/xstrip
s86/xhd

src/cg.c
src/cg.h
src/include/limits.h
src/lib/crt0.s
src/lib/init.c
src/lib/ncrt0.s
src/lib/system.c
src/sys.h

src/scc
src/scc0
src/scc1

tests/ptest.c
tests/ptest
tests/systest
tests/libtest
